<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiddenspringsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiddenSpringsApp">
        <activity android:name=".EditFriyayPartic"
            android:label="Edit FriYAY Participant"
            android:parentActivityName=".FriyayParticipants"></activity>
        <activity android:name=".EditEvents"
            android:label="Edit Event"
            android:parentActivityName=".EventsList"></activity>>
        <activity
            android:name=".ServerRatio"
            android:label="Server Ratio"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Counters"
            android:label="Counters"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FriyayGames"
            android:label="FriYAY Games"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FriyayParticipants"
            android:label="FriYAY Participants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventsList"
            android:label="Events List"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>